<%- include('../includes/head.ejs'); %>
  <title>Project | Restaurant</title>
</head>
<body>
  <%- include('../includes/navbar.ejs'); %>
  <section class="hero project-background">
    <div class="project">
      <h1 class="center-text">
        Street Eats - Restaurant
      </h1>
    </div>
  </section>
  <main class="container">
    <section class="section">
       <div class="detail">
        <div class="detail__row row1">
          <div class="detail__content">
            <h2 class="detail__title">How it's Made</h2>
            <div class="detail__desc">
              <div class="detail__icons">
                <!-- <i class="icon fab fa-react"></i> -->
                <!-- <i class="icon fab fa-node-js"></i> -->
                <i class="icon fab fa-sass"></i>
                <i class="icon fab fa-gulp"></i>
                <!-- <img class="icon" src="https://img.icons8.com/color/48/000000/mongodb.png" alt="mongo database icon"/> -->
                <!-- <img class="icon" src="https://img.icons8.com/color/48/000000/redux.png" alt="redux icon"/> -->
                <%- include('../includes/svg/mysql-svg.ejs') %>
                <%- include('../includes/svg/laravel-svg.ejs') %>
                <%# include('../includes/svg/redux-svg.ejs') %>
                <%- include('../includes/svg/webpack-svg.ejs') %>
                <!-- <img class="icon" src="https://img.icons8.com/dusk/64/000000/webpack.png" alt="webpack icon"/> -->
              </div>
              <div class="detail__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis commodi, neque modi ad quasi quisquam perspiciatis quidem culpa eum iure vitae nostrum, consequatur porro nemo totam, vero excepturi unde voluptates saepe minus. Numquam incidunt nisi atque temporibus omnis, perferendis, provident similique quo sit molestias cum doloribus ex. Accusamus ducimus eos amet sit facilis optio cupiditate maiores quod magnam aliquam. Fugiat?
              </div>
            </div>
          </div>
          <div class="detail__img img-ecom-1"></div>
        </div>
        <div class="detail__row row2">
          <div class="detail__img img-ecom-2"></div>
          <div class="detail__content">
            <h2 class="detail__title">What I Learned</h2>
            <div class="detail__text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quis officia eaque et necessitatibus minima maxime alias qui veniam, nostrum rerum quam unde provident doloremque ex ipsum quasi iure vitae quibusdam, sequi ut hic. Perferendis at est fugit ipsa expedita exercitationem illum asperiores quam accusantium recusandae qui obcaecati perspiciatis delectus sed, adipisci modi cupiditate laborum quisquam sequi esse sunt nam. Tenetur, eligendi et! Rem, eveniet tempore.</p>
            </div>
          </div>
        </div>
        <div class="detail__row row3">
          <div class="detail__content">
            <h2 class="detail__title">Conclusion</h2>
            <div class="detail__text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quis officia eaque et necessitatibus minima maxime alias qui veniam, nostrum rerum quam unde provident doloremque ex ipsum quasi iure vitae quibusdam, sequi ut hic. Perferendis at est fugit ipsa expedita exercitationem illum asperiores quam accusantium recusandae qui obcaecati perspiciatis delectus sed, adipisci modi cupiditate laborum quisquam sequi esse sunt nam. Rem, eveniet tempore.</p>
            </div>
          </div>
          <div class="detail__img img-ecom-3"></div>
        </div>
      </div>
    </section>
  </main>
  <%# include('../includes/footer.ejs'); %>
  <script defer type="text/javascript" src="../index.bundle.js"></script>
  </body>
</html>