<%- include('./includes/head.ejs'); %>
  <title>Jor-EL\'s Portfolio | Home</title>
  <script src="https://kit.fontawesome.com/6caabbd179.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="particles.bundle.js"></script>
</head>
<body>
  <%- include('./includes/navbar.ejs'); %>
  <section id="" class="hero hero-background">
    <div id="particles-js" class="theme"></div>
    <div class="hero__content">
      <div class="hero__center text">
        <h1 class="section__title">
          Jor-EL Sanchez
        </h1>
        <p>The internet is a pretty cool place. So I setup shop to code for a free and open web.</p>
      </div>
    </div>
  </section>
  <main class="container">
    <%- include('./includes/product.ejs'); %>
    <%- include('./includes/tech-knowledge.ejs'); %>
  </main>
  <%- include('./includes/end.ejs'); %>
  <script defer type="text/javascript" src="index.bundle.js"></script>
</body>
</html>